doctype html
html(lang='en', ng-app='convert')
  head
    meta(charset='utf-8')      
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title CSV Converter
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/index.css')
    script(src='/vendor/angular/angular.js')
    
  body(ng-controller='ConverterCtrl' ng-cloak)
    {{test}}

    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/lodash/lodash.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/index.js')
